<configuration>
    <system.webServer>
        <urlCompression doDynamicCompression="true" />
        <rewrite>
            <rules>
                <clear />

                <!-- Force HTTPS rule -->
                <rule name="Force HTTPS" enabled="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
                </rule>

                <!-- Serve static files from the public and resources folders -->
                <rule name="Serve static files from public and resources" stopProcessing="false">
                    <match url="^(?!public/|resources/)(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="/{R:0}" appendQueryString="true" />
                </rule>

                <!-- Routing to index.php for dynamic URLs -->
                <rule name="Routing to index.php" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="/public/index.php" appendQueryString="true" />
                </rule>

                <!-- Redirect to index.php if not a static file or directory -->
                <rule name="Routing to index.php for dynamic paths" stopProcessing="true">
                    <match url="^(?!public/)(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/public/index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>  

        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="30000000" />
            </requestFiltering>
        </security>

        <staticContent>
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
        </staticContent>

        <!-- Pass through PHP error output instead of IIS default error pages -->
        <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
    </system.webServer>
</configuration>
