html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background: #f8fafc;
    min-height: 100vh;
}
main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}

/* Globális szín felülírások */
.btn-success {
    background-color: #30B460 !important;
    border-color: #30B460 !important;
}
.btn-success:hover, .btn-success:focus {
    background-color: #27A050 !important;
    border-color: #27A050 !important;
}
.text-success { color: #30B460 !important; }
a.text-success:hover { color: #27A050 !important; }
